build
fineTune.VC.VC.opendb
Debug
Release
x64
*.suo
*.db
*.opendb
*.db-shm
.vscode
/build/GuitarFineTune
/.vscode/configurationCache.log
/.vscode/dryrun.log
/.vscode/settings.json
/guitarfinetune_8.6.5.git_amd64.snap
/guitarfinetune_8.6.5_amd64.snap
/guitarfinetune_8.6.6_multi.snap

