################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Builds/VisualStudio2022/x64/Release/App/GuitarFineTune_App.vcxproj.FileListAbsolute.txt
/Builds/VisualStudio2022/x64/Release/App/GuitarFineTune_App.log
/Builds/VisualStudio2022/x64/Release/App/GuitarFineTune.Build.CppClean.log
/Builds/VisualStudio2022/x64/Debug/App/_IsIncrementalBuild
/Builds/VisualStudio2022/x64/Debug/App/xmlGuitarFineTuneConfig.obj
/Builds/VisualStudio2022/x64/Debug/App/tuneComponent.obj
/Builds/VisualStudio2022/x64/Debug/App/SimpleLevelMeter.obj
/Builds/VisualStudio2022/x64/Debug/App/resources.res
/Builds/VisualStudio2022/x64/Debug/App/Main.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_extra.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_basics.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_graphics.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_events.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_dsp.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_data_structures.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_core.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_utils.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_formats.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_devices.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_basics.obj
/Builds/VisualStudio2022/x64/Debug/App/helpPage.obj
/Builds/VisualStudio2022/x64/Debug/App/guitarStringSoundsControl.obj
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune_App.vcxproj.FileListAbsolute.txt
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune_App.log
/Builds/VisualStudio2022/x64/Debug/App/guitarFineTuneFirstClass.obj
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.pdb
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.ilk
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.exe.recipe
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.exe
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.Build.CppClean.log
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/rc.write.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/rc.read.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/rc.command.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/link.write.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/link.read.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/link.command.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/GuitarFineTune_App.lastbuildstate
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/CL.write.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/CL.read.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/CL.command.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/eksThreadWithProgressWindow.obj
/Builds/VisualStudio2022/x64/Debug/App/eksTabbedComponent.obj
/Builds/VisualStudio2022/x64/Debug/App/eksNotModalProgressWindowCallBacks.obj
/Builds/VisualStudio2022/x64/Debug/App/eksNotModalProgressWindow.obj
/Builds/VisualStudio2022/x64/Debug/App/eksAudioControlComponent.obj
/Builds/VisualStudio2022/x64/Debug/App/displayControlComponent.obj
/Builds/VisualStudio2022/x64/Debug/App/BinaryData.obj
/Builds/VisualStudio2022/x64/Debug/App/audioRecorderThread.obj
/Builds/VisualStudio2022/x64/Debug/App/AudioRecorder.obj
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/ipch/AutoPCH/a4673f0099d13ad5/DISPLAYCONTROLCOMPONENT.ipch
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/Browse.VC.opendb
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/Browse.VC.db-wal
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/Browse.VC.db-shm
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/Browse.VC.db
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/.suo
/Builds/VisualStudio2022/.vs/GuitarFineTune/FileContentIndex/f1f963ee-ce60-4be9-9541-d05af6f6e76d.vsidx
/Builds/VisualStudio2022/.vs/GuitarFineTune/FileContentIndex/4a6aebb3-f556-408e-bdfe-157a00ff7410.vsidx
/Builds/VisualStudio2022/.vs/GuitarFineTune/FileContentIndex/1131bb4c-b112-45b1-8587-e365fe8bf297.vsidx
/Builds/VisualStudio2022/.vs
/Builds/MacOSX/build
/guitarfinetune_9.4.6_amd64.snap
*.snap
x64
/Builds/MacOSX/.DS_Store
/Builds/iOS/.DS_Store
/Builds/LinuxMakefile/build/intermediate/Release/AudioRecorder_bf7c5815.d
/Builds/LinuxMakefile/build/intermediate/Release/AudioRecorder_bf7c5815.o
/Builds/LinuxMakefile/build/intermediate/Release/BinaryData_ce4232d4.d
/Builds/LinuxMakefile/build/intermediate/Release/BinaryData_ce4232d4.o
/Builds/LinuxMakefile/build/intermediate/Release/Main_90ebc5c2.d
/Builds/LinuxMakefile/build/intermediate/Release/Main_90ebc5c2.o
/Builds/LinuxMakefile/build/intermediate/Release/SimpleLevelMeter_95373cc0.d
/Builds/LinuxMakefile/build/intermediate/Release/SimpleLevelMeter_95373cc0.o
/Builds/LinuxMakefile/build/intermediate/Release/audioRecorderThread_5128cd5f.d
/Builds/LinuxMakefile/build/intermediate/Release/audioRecorderThread_5128cd5f.o
/Builds/LinuxMakefile/build/intermediate/Release/displayControlComponent_c0246883.d
/Builds/LinuxMakefile/build/intermediate/Release/displayControlComponent_c0246883.o
/Builds/LinuxMakefile/build/intermediate/Release/eksAudioControlComponent_6133a772.d
/Builds/LinuxMakefile/build/intermediate/Release/eksAudioControlComponent_6133a772.o
/Builds/LinuxMakefile/build/intermediate/Release/eksNotModalProgressWindowCallBacks_239865d3.d
/Builds/LinuxMakefile/build/intermediate/Release/eksNotModalProgressWindowCallBacks_239865d3.o
/Builds/LinuxMakefile/build/intermediate/Release/eksNotModalProgressWindow_331a8f25.d
/Builds/LinuxMakefile/build/intermediate/Release/eksNotModalProgressWindow_331a8f25.o
/Builds/LinuxMakefile/build/intermediate/Release/eksTabbedComponent_c42240ad.d
/Builds/LinuxMakefile/build/intermediate/Release/eksTabbedComponent_c42240ad.o
/Builds/LinuxMakefile/build/intermediate/Release/eksThreadWithProgressWindow_27db6dbb.d
/Builds/LinuxMakefile/build/intermediate/Release/eksThreadWithProgressWindow_27db6dbb.o
/Builds/LinuxMakefile/build/intermediate/Release/guitarFineTuneFirstClass_d1db99ad.d
/Builds/LinuxMakefile/build/intermediate/Release/guitarFineTuneFirstClass_d1db99ad.o
/Builds/LinuxMakefile/build/intermediate/Release/guitarStringSoundsControl_3805b87f.d
/Builds/LinuxMakefile/build/intermediate/Release/guitarStringSoundsControl_3805b87f.o
/Builds/LinuxMakefile/build/intermediate/Release/helpPage_811ecbd9.d
/Builds/LinuxMakefile/build/intermediate/Release/helpPage_811ecbd9.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_basics_8a4e984a.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_basics_8a4e984a.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_devices_63111d02.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_devices_63111d02.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_formats_15f82001.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_formats_15f82001.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_processors_10c03666.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_processors_10c03666.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_processors_ara_2a4c6ef7.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_processors_ara_2a4c6ef7.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_processors_lv2_libs_12bdca08.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_processors_lv2_libs_12bdca08.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_utils_9f9fb2d6.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_audio_utils_9f9fb2d6.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_core_f26d17db.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_core_f26d17db.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_data_structures_7471b1e3.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_data_structures_7471b1e3.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_dsp_aeb2060f.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_dsp_aeb2060f.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_events_fd7d695.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_events_fd7d695.o
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_graphics_f817e147.d
/Builds/LinuxMakefile/build/intermediate/Release/include_juce_graphics_f817e147.o
/Builds/LinuxMakefile/build/intermediate/Release/tuneComponent_60c2d8e6.d
/Builds/LinuxMakefile/build/intermediate/Release/tuneComponent_60c2d8e6.o
/Builds/LinuxMakefile/build/intermediate/Release/xmlGuitarFineTuneConfig_24f44a96.d
/Builds/LinuxMakefile/build/intermediate/Release/xmlGuitarFineTuneConfig_24f44a96.o
/Microsoft_Store/packProj/packProj/obj
/Microsoft_Store/newPackProj/WapProj/obj
/Microsoft_Store/newPackProj/WapProj/bin
/Microsoft_Store/packProj/packProj/bin
/Microsoft_Store/packProj/packProj/AppPackages
/Microsoft_Store/packProj/packProj/BundleArtifacts/x86.txt
/Microsoft_Store/packProj/packProj/BundleArtifacts/x64.txt
/Microsoft_Store/packProj/packProj/BundleArtifacts/arm64.txt
/Microsoft_Store/packProj/packProj/BundleArtifacts/arm.txt
/Microsoft_Store/packProj/packProj/BundleArtifacts/Upload/x86.txt
/Microsoft_Store/packProj/packProj/BundleArtifacts/Upload/x64.txt
/Microsoft_Store/packProj/packProj/BundleArtifacts/Upload/arm64.txt
/Microsoft_Store/packProj/packProj/BundleArtifacts/Upload/arm.txt
/Builds/Android/.gradle/file-system.probe
/Builds/Android/.gradle/8.4/executionHistory/executionHistory.bin
/Builds/Android/.gradle/8.4/executionHistory/executionHistory.lock
/Builds/Android/.gradle/8.4/fileHashes/fileHashes.bin
/Builds/Android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/Builds/Android/.idea/workspace.xml
/Builds/Android/app/.cxx/Debug/fwr3y6s2/x86/.cmake/api/v1/reply
/Builds/Android/app/.cxx/RelWithDebInfo/3s2w3ai7/arm64-v8a/.cmake/api/v1/reply
/Builds/Android/app/.cxx/RelWithDebInfo/3s2w3ai7/armeabi-v7a/.cmake/api/v1/reply
/Builds/Android/app/.cxx/RelWithDebInfo/3s2w3ai7/x86/.cmake/api/v1/reply
/Builds/Android/app/.cxx/RelWithDebInfo/3s2w3ai7/x86_64/.cmake/api/v1/reply
/Microsoft_Store/packProj/packProj/BundleArtifacts
/guitarfinetune_riscv64-2024-05-01T05:15:36.txt
