################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Builds/VisualStudio2022/x64/Release/App/GuitarFineTune_App.vcxproj.FileListAbsolute.txt
/Builds/VisualStudio2022/x64/Release/App/GuitarFineTune_App.log
/Builds/VisualStudio2022/x64/Release/App/GuitarFineTune.Build.CppClean.log
/Builds/VisualStudio2022/x64/Debug/App/_IsIncrementalBuild
/Builds/VisualStudio2022/x64/Debug/App/xmlGuitarFineTuneConfig.obj
/Builds/VisualStudio2022/x64/Debug/App/tuneComponent.obj
/Builds/VisualStudio2022/x64/Debug/App/SimpleLevelMeter.obj
/Builds/VisualStudio2022/x64/Debug/App/resources.res
/Builds/VisualStudio2022/x64/Debug/App/Main.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_extra.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_basics.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_graphics.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_events.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_dsp.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_data_structures.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_core.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_utils.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_formats.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_devices.obj
/Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_basics.obj
/Builds/VisualStudio2022/x64/Debug/App/helpPage.obj
/Builds/VisualStudio2022/x64/Debug/App/guitarStringSoundsControl.obj
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune_App.vcxproj.FileListAbsolute.txt
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune_App.log
/Builds/VisualStudio2022/x64/Debug/App/guitarFineTuneFirstClass.obj
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.pdb
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.ilk
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.exe.recipe
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.exe
/Builds/VisualStudio2022/x64/Debug/App/GuitarFineTune.Build.CppClean.log
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/rc.write.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/rc.read.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/rc.command.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/link.write.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/link.read.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/link.command.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/GuitarFineTune_App.lastbuildstate
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/CL.write.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/CL.read.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/GuitarFi.5F11C54A.tlog/CL.command.1.tlog
/Builds/VisualStudio2022/x64/Debug/App/eksThreadWithProgressWindow.obj
/Builds/VisualStudio2022/x64/Debug/App/eksTabbedComponent.obj
/Builds/VisualStudio2022/x64/Debug/App/eksNotModalProgressWindowCallBacks.obj
/Builds/VisualStudio2022/x64/Debug/App/eksNotModalProgressWindow.obj
/Builds/VisualStudio2022/x64/Debug/App/eksAudioControlComponent.obj
/Builds/VisualStudio2022/x64/Debug/App/displayControlComponent.obj
/Builds/VisualStudio2022/x64/Debug/App/BinaryData.obj
/Builds/VisualStudio2022/x64/Debug/App/audioRecorderThread.obj
/Builds/VisualStudio2022/x64/Debug/App/AudioRecorder.obj
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/ipch/AutoPCH/a4673f0099d13ad5/DISPLAYCONTROLCOMPONENT.ipch
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/Browse.VC.opendb
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/Browse.VC.db-wal
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/Browse.VC.db-shm
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/Browse.VC.db
/Builds/VisualStudio2022/.vs/GuitarFineTune/v17/.suo
/Builds/VisualStudio2022/.vs/GuitarFineTune/FileContentIndex/f1f963ee-ce60-4be9-9541-d05af6f6e76d.vsidx
/Builds/VisualStudio2022/.vs/GuitarFineTune/FileContentIndex/4a6aebb3-f556-408e-bdfe-157a00ff7410.vsidx
/Builds/VisualStudio2022/.vs/GuitarFineTune/FileContentIndex/1131bb4c-b112-45b1-8587-e365fe8bf297.vsidx
/Builds/VisualStudio2022/.vs
/Builds/MacOSX/build
