[Desktop Entry]
Version=10.16.11
Type=Application
Terminal=false
Exec=guitarfinetune
Name=guitarfinetune
Comment=Guitar fine tuning aid
Icon=${SNAP}/meta/gui/guitarfinetune.png
