[Desktop Entry]
Version=9.4.9
Type=Application
Terminal=false
Exec=guitarfinetune
Name=guitarfinetune
Comment=Guitar fine tuning aid
Icon=${SNAP}/meta/gui/guitarfinetune.png
