[Desktop Entry]
Version=9.9.3
Type=Application
Terminal=false
Exec=guitarfinetune
Name=guitarfinetune
Comment=Guitar fine tuning aid
Icon=${SNAP}/meta/gui/guitarfinetune.png
